.tim/
tutorial/
.meigo/
.DS_Store
.ipynb_checkpoints
.venv/
COMPLETE_DATASET.csv
MODEL_READY_DATASET.csv
YEAR_COMPLETE_DATASET.csv
main2.ipynb
main3.ipynb
main4.ipynb
proof.ipynb
year_merger2.py
year_merger3.py
MODEL_READY_DATASET2.csv
MODEL_READY_DATASET3.csv
MODEL_READY_DATASET4.csv
MODEL_READY_DATASET5.csv
YEAR_COMPLETE_DATASET2.csv
